
 
    <!-- login div -->
<div class="login">
<!-- login header -->
  <h1 id="header">Registrar</h1>
 
<!-- start da login goodness -->
  <form id="form" action="/api/user/" method="post">
    <input type="text" placeholder="Cual es  tu nombre" maxlength="16" name="nombre" id="nombre" required><br />
     <input type="text" placeholder="Cual es  tu email" maxlength="50" name="email" id="email" required><br />
    <input type="password" placeholder="password" name="password" id="password" required><br />
    <input type="text" placeholder="Cual es  tu rol" maxlength="16" name="role" id="role" required><br />
    <button type="submit" class="btn btn-primary"><span>Registrar</span></button>
  </form>
</div>